<!-- ws-02-2-1.html -->
{% include "ws/ws-header.html" %}
{% include "ws/ws-leftmenu.html" %}

    <!-- Right / Body -->
    <div class="tm-main">
        <div class="uk-container-full uk-position-relative">

            <!-- title -->
            <div>
                <h4 class="uk-heading-divider" id="topname"></h4>
            </div>

            <!-- date & time picker -->
            <div class="uk-margin uk-flex uk-flex-left uk-flex-row">
                <div>
                    <span class="ft-w" style="line-height: 40px;">Data Filter</span>
                </div>
                <div class="uk-margin-left">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                        <input class="uk-input" type="text" id="date_time_start">
                    </div>
                </div>
                <div class="uk-margin-left">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                        <input class="uk-input" type="text" id="date_time_end">
                    </div>
                </div>
                <div class="uk-margin-left" >
                    <span style="line-height: 40px;"></span>
                </div>
                <div class="uk-margin-left" >
                    <select class="uk-select w-100" id="time">
                        <option selected="" value="">시각</option>
                        <option value="01">1시</option>
                        <option value="02">2시</option>
                        <option value="03">3시</option>
                        <option value="04">4시</option>
                        <option value="05">5시</option>
                        <option value="06">6시</option>
                        <option value="07">7시</option>
                        <option value="08">8시</option>
                        <option value="09">9시</option>
                        <option value="10">10시</option>
                        <option value="11">11시</option>
                        <option value="12">12시</option>
                        <option value="13">13시</option>
                        <option value="14">14시</option>
                        <option value="15">15시</option>
                        <option value="16">16시</option>
                        <option value="17">17시</option>
                        <option value="18">18시</option>
                        <option value="19">19시</option>
                        <option value="20">20시</option>
                        <option value="21">21시</option>
                        <option value="22">22시</option>
                        <option value="23">23시</option>
                        <option value="00">24시</option>
                    </select>
                </div>
                <div class="" >
                    <span style="line-height: 40px;"></span>
                </div>
                <div class="uk-margin-left">
                    <select class="uk-select w-100" id="intervalday">
                        <option selected="" value="">평균</option>
                        <option value="1">1일</option>
                        <option value="2">2일</option>
                        <option value="3">3일</option>
                        <option value="4">4일</option>
                        <option value="5">5일</option>
                        <option value="6">6일</option>
                        <option value="7">7일</option>
                        <option value="8">8일</option>
                        <option value="9">9일</option>
                        <option value="10">10일</option>
                        <option value="11">11일</option>
                        <option value="12">12일</option>
                        <option value="13">13일</option>
                        <option value="14">14일</option>
                        <option value="15">15일</option>
                    </select>
                </div>
                <div class="uk-margin-left">
                   <button class="uk-button uk-button-primary" type="button" onclick="searchdata()">Apply</button>
                   <button class="uk-button uk-button-primary" type="button" onclick="resetbtn()">Reset</button>
                </div>
            </div>

            <!-- tap menu (sensor) -->
            <div class="uk-margin uk-margin-medium-top">
                <ul class="uk-tab">
                    <li class="uk-active"><a id="chart" onclick="chartlocation()">Chart</a></li>
                    <li><a id="data" onclick="datalocation()">Data<span class="uk-badge-red" style="display: none;" id="dataalarm">231</span></a></li>
                    <!-- <li><a href="ws-02-2-3" id="data">Data<span class="uk-badge-red" style="display: none;" id="dataalarm">231</span></a></li> -->
                    <li id="fomulali" style="display: none;"><a id="formula_btn" style="display: none;"  onclick="fomulalocation()">Formula</a></li>
                    <li><a id="info" onclick="infolocation()">Info</a></li>
                </ul>
            </div>

            <!-- chart / sensor group -->
            <div uk-margin class="uk-flex uk-flex-row uk-flex-between">
                <div class="uk-text-blue">
                    <h4 id="sensorfxname"></h4>
                    <p class="mg-v-0" id="initialdateandvalue"> </p>
                    <!-- <p class="mg-v-0" id="gaugefactorandvalue">Gauge Factor: </p> -->
                </div>
                <div>
                    <a class="uk-button uk-button-default" href="#guideline" uk-toggle onclick="guideline()" id="guideline_btn" style="display: none;">Guideline</a>
                    <a class="uk-button uk-button-default" href="#initial" uk-toggle id="initaildate_btn" style="display: none;">Initial Date</a>
                </div>
            </div>

            <!-- Chart / Senser Group -->
            <div class="uk-margin-medium-top">
                <canvas id="sensors" style="height: 700px;"></canvas>
            </div>
            <div class="mg-t-20">
                <button class="uk-button uk-button-default" onclick="resetZoomChart()">Reset Zoom</button>
                <button class="uk-button uk-button-default" onclick="chartZoom(1.1)">Zoom In</button>
                <button class="uk-button uk-button-default" onclick="chartZoom(0.9)">Zoom Out</button>
            </div>

            <!-- Chart / Weather  -->
            <div class="uk-text-blue uk-margin-medium-top">
                <h4>날씨</h4>
            </div>
            <div class="uk-margin-small-top">
                <canvas id="weather" style="height: 300px;"></canvas>
            </div>

        </div>
    </div>
    <!--// Right / Body -->
</body>


<!-- Modal / guideline -->
<div id="guideline" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h5 class="uk-modal-title">Guideline</h5>
            <p class="uk-text-meta" id="sensorname">
               
            </p>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-horizontal uk-margin-large" id="guideLineminmax">

                <div class="uk-margin">
                    <label class="uk-form-label uk-text-yellow" for="form-horizontal-text">Level 1 Max / Min</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="sensor_gl1_max" name="sensor_gl1_max" type="text" placeholder="" doubleOnly>
                    </div>
                </div>
                <hr>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-orange" for="form-horizontal-text">Level 2 Max / Min</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="sensor_gl2_max" name="sensor_gl2_max" type="text" placeholder="" doubleOnly>
                    </div>
                </div>
                <hr>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-red" for="form-horizontal-text">Level 3 Max / Min</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="sensor_gl3_max" name="sensor_gl3_max" type="text" placeholder="" doubleOnly>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" onclick="guidelinesave()">Save</button>
        </div>
    </div>
</div>

<!-- Modal / Initial Date -->
<div id="initial" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close id="initialX"></button>
        <div class="uk-modal-header">
            <h5 class="uk-modal-title">Initial Date</h5>
            <p class="uk-text-meta " id="initialsensorname">
                <!-- D1-01-ME-01-1(4m) -->
            </p>
        </div>
        <div class="uk-modal-body">
            <form id="initialmodal">
                <div class="uk-flex uk-flex-center">
                    <div class="uk-inline uk-margin">
                        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                        <input class="uk-input w-picker" type="text" id="initial_datetime" name="sensor_initial_date">
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" id="initialcancle">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id="initialsave">Save</button>
        </div>
    </div>
</div>


<!-- date & time picker -->
<script>
    $('#date_time_start').datetimepicker({theme:'dark', step:60, format:'Y.m.d H:i', maxDate:'0'});
    $('#date_time_end').datetimepicker({theme:'dark', step:60, format:'Y.m.d H:i', maxDate:'0'});
    $('#initial_datetime').datetimepicker({theme:'dark', step:60, format:'Y.m.d H:i', maxDate:'0'});
</script>

<script src="/static/js/ws/ws-02-2-1.js"></script>

</body>

</html>