<!-- ws-03.html -->
{% include "ws/ws-header.html" %}
{% include "ws/ws-leftmenu.html" %}



    <!-- Right / Body -->
    <div class="tm-main">
        <div class="uk-container-full uk-position-relative">

            <!-- state -->
            <div uk-margin class="uk-flex uk-flex-row uk-flex-between">
                <div class="uk-text-blue">
                    <h4>고객사 변위공식 관리</h4>
                    <p>$sen (측정값 변수) / $ini (초기값 변수) / $GF (Gauge Factor)</p>
                </div>
                <div>
                    <button class="uk-button uk-button-primary" uk-toggle="target: #formula" uk-toggle onclick="fomulaadd()">변위공식 추가</button>
                </div>
            </div>

            <!-- table -->
            <div class="uk-overflow-auto uk-margin-medium-top data-tb">
                <table class="uk-table uk-table-small uk-table-divider fml-lh js-filter">
                    <thead>
                        <tr>
                            <th class="w-40">No.</th>
                            <th class="uk-width-medium">변위공식명</th>
                            <th>변위공식</th>
                            <th class="w-120"></th>
                        </tr>
                    </thead>
                    <tbody id="function_tbody">
                        <!-- <tr data-state="done">
                            <td>1</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr>
                        <tr data-state="done">
                            <td>2</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr>
                        <tr data-state="done">
                            <td>3</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr>
                        <tr data-state="done">
                            <td>4</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr>
                        <tr data-state="done">
                            <td>5</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr>
                        <tr data-state="done">
                            <td>6</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr>
                        <tr data-state="done">
                            <td>7</td>
                            <td>변형각(˚)</td>
                            <td><input class="uk-input" type="text" placeholder="$Sen-# - $Sen-02-iniial" disabled></td>
                            <td>
                                <a href="#formula" class="uk-icon-button uk-margin-small-right" uk-icon="pencil" uk-toggle></a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="trash"></a>
                            </td>
                        </tr> -->
                    </tbody> 
                </table>
            </div>
        </div>
    </div>
    <!--// Right / Body -->


</body>


<!-- Modal / formula-->
<div id="formula" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h5 class="uk-modal-title">변위공식</h5>
            <p class="uk-text-meta">
                프로젝트 기본 변위공식
            </p>
        </div>
        <div class="uk-modal-body">
            <fieldset class="uk-fieldset">

                <div class="uk-margin">
                    <select class="uk-select" id="fomulaselect">
                        <option>변위공식 불러오기</option>
                        <!-- <option>변화량(mm)</option>
                        <option>변형각(˚)</option> -->
                    </select>
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="변화량(mm)" id="fomulaname">
                </div>

                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="$Sen-01 * 100%" style="resize: none;" id="calc" onclick="setTextToPos()"></textarea>

                    <table border="1" class="calc" style="width: 100%;">
                         
                        <tr>
                            <td colspan="2" onclick="caclulation('AC')">AC</td>

                            <td onclick="caclulation('(')">(</td>
                            <td onclick="caclulation(')')">)</td>
                            <td onclick="caclulation('pi')">pi</td>
                            <td onclick="caclulation('.')">.</td>
                        </tr>
                        <tr>
                            <td onclick="caclulation('1')">1</td>
                            <td onclick="caclulation('2')">2</td>
                            <td onclick="caclulation('3')">3</td>
                            <td class="calcpadding" onclick="caclulation('*')">*</td>
                            <td class="calcpadding" onclick="caclulation('cos')">cos</td>
                            <td class="calcpadding" onclick="caclulation('^')">a^b</td>
                        </tr>
                        <tr>
                            <td onclick="caclulation('4')">4</td>
                            <td onclick="caclulation('5')">5</td>
                            <td onclick="caclulation('6')">6</td>
                            <td onclick="caclulation('-')">-</td>
                            <td onclick="caclulation('sin')">sin</td>
                            <td onclick="caclulation('e')">e</td>
                        </tr>
                        <tr>
                            <td class="calcpadding" onclick="caclulation('7')">7</td>
                            <td class="calcpadding"  onclick="caclulation('8')">8</td>
                            <td class="calcpadding" onclick="caclulation('9')">9</td>
                            <td onclick="caclulation('+')">+</td>
                            <td onclick="caclulation('tan')">tan</td>
                            <td onclick="caclulation('log')">log</td>
                        </tr>
                        <tr>
                            <td onclick="caclulation('0')">0</td>

                            <td onclick="caclulation('$sen')">$sen</td>
                            <td onclick="caclulation('$ini')">$ini</td>
                            <td onclick="caclulation('$GF')">$GF</td>
                            <td onclick="caclulation('/')">/</td>
                            <td onclick="check_function('edit')">=</td>
                        </tr>
                    </table>
            
            
            </div>

            <div class="uk-margin-medium-top">
                <p>측정값 변수 : $sen</p>
                <p>초기값 변수 : $ini</p>
                <p>Gauge Factor : $GF</p>
                <p>계산 결과값 :  <span id='test_result'>-</span>  <br/>($sen=2500, $ini=2510, Gauge Factor=0.002)</p>
    
            </div>

            </fieldset>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id="savebtn">Save</button>
            <button class="uk-button uk-button-primary" type="button" id="editbtn">Save</button>
        </div>
    </div>
</div>




<script src="/static/js/ws/ws-03.js"></script>
</html>

<!-- <div id="reset" uk-modal="" class="uk-modal" style="display: block;">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default uk-icon uk-close" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
        <div class="uk-modal-header">
            <h5 class="uk-modal-title">Reset Sensor Notification</h5>
        </div>
        <div class="uk-modal-body">
            센서 오류 알림을 초기화하시겠습니까?<br>
            지금까지 발생된 센서 오류 알림과 표시가 삭제되며 이후 발생된 센서 오류에 대해서는 정상적으로 처리됩니다.
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Reset</button>
        </div>
    </div>
</div> -->