<!-- Left / Menu //-->
<div class="tm-sidebar-left">

    <!-- footer -->
    <footer>
        <span>© GEODATAh Co., Ltd.</span>
    </footer>

    <!-- gudeline indicator -->
    <div class="uk-text-meta uk-margin-bottom uk-text-uppercase">Guideline</div>
    <div class="uk-flex uk-flex-between">
        <div>
            <div class="icon-guideline-y"></div>
            <div class="ly-gudieline">Lv.1</div>
        </div>
        <div>
            <div class="icon-guideline-o"></div>
            <div class="ly-gudieline">Lv.2</div>
        </div>
        <div>
            <div class="icon-guideline-r"></div>
            <div class="ly-gudieline">Lv.3</div>
        </div>
    </div>

    <hr>

    <!-- sensor group -->
    <ul uk-accordion id="leftmenulist">

        <!-- #01 -->
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">테스트중입니다
                <!-- <span class="uk-badge-red mg-b-3">999</span> -->
            </a>
            <div class="uk-accordion-content">
                <div>
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
                        <li class="uk-parent">
                            <a href="#">도상침하계(가로형)
                                <!-- <span class="uk-badge-red">999</span> -->
                            </a>
                            <ul class="uk-nav-sub">
                                <li><a href="/ws-02-1-1">All
                                    <!-- <span class="uk-badge-red">231</span> -->
                                </a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                                <li><a href="/ws-02-2-1">T-상-01
                                    <!-- <span class="uk-badge-yellow">231</span> -->
                                </a></li>
                                <li><a href="/ws-02-2-1">T-상-01
                                    <!-- <span class="uk-badge-orange">231</span> -->
                                </a></li>
                                <li><a href="/ws-02-2-1">T-상-01
                                    <!-- <span class="uk-badge-red">231</span> -->
                                </a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">도상침하계(세로형)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="/ws-02-1-2">All</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">도상침하계(스캐터)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="/ws-02-1-7">All</a></li>
                                <li><a href="/ws-02-2-6">T-상-01</a></li>
                                <li><a href="/ws-02-2-6">T-상-01</a></li>
                                <li><a href="/ws-02-2-6">T-상-01</a></li>
                                <li><a href="/ws-02-2-6">T-상-01</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">도상침하계(로드셀)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="/ws-02-1-8">All</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                                <li><a href="/ws-02-2-1">T-상-01</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <!-- #02 -->
        <li>
            <a class="uk-accordion-title" href="#">진입도로</a>
            <div class="uk-accordion-content">
                <div>
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
                        <!-- <li class="uk-active" class="color: #FFF;"><a href="#">신사역 024 정거장 설치지점</a></li> -->
                        <li class="uk-parent">
                            <a href="#">도상침하계(상-X축)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">All</a></li>
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">도상침하계(상-X축)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <!-- #03 -->
        <li>
            <a class="uk-accordion-title" href="#">서해연결선</a>
            <div class="uk-accordion-content">
                <div>
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
                        <!-- <li class="uk-active" class="color: #FFF;"><a href="#">신사역 024 정거장 설치지점</a></li> -->
                        <li class="uk-parent">
                            <a href="#">도상침하계(상-X축)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">All</a></li>
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">도상침하계(상-X축)</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                                <li><a href="#">T-상-01</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
<script src="/static/js/ws/ws-leftmenu.js"></script>
</div>
<!--// Left / Menu -->