<!-- bo-02.html -->
{% include "bo/bo-header.html" %}

    <!-- Right / Body -->
    <div class="tm-main">

        <div class="uk-container-full uk-position-relative">

            <!-- #01 프로젝트 프로필 //-->
            <div class="uk-grid uk-child-width-1-2@s" uk-grid  id="projectProfile" style="margin-left: 10px;">

                <!-- #01 -->
                <!-- <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light bx-4by4">
                    <div>
                        <h3 class="uk-card-title uk-margin-remove-bottom"><a href="/bo-03-1">성진지오텍</a></h3>
                        <p class="uk-margin-remove-top"><a href="/ws-00-1" target="_blank">sungjin</a></p>
                    </div>
                    <div class="uk-column-1-3 uk-column-divider">
                        <div class="uk-text-center">
                            <h1 class="uk-text-center ft-w-l"><a href="/bo-03-1-1" class="uk-text-yellow" id="test">2</a></h1>
                            <span class="uk-text-meta">계약만료 예정</span>
                        </div>
                        <div class="uk-text-center">
                            <h1 class="uk-text-center ft-w-l"><a href="/ws-00-1" class="uk-text-blue" target="_blank">92</a></h1>
                            <span class="uk-text-meta">진행중인 프로젝트</span>
                        </div>
                        <div class="uk-text-center">
                            <h1 class="uk-text-center ft-w-l"><a href="/ws-00-1" class="uk-text-red" target="_blank">2</a></h1>
                            <span class="uk-text-meta">완료된 프로젝트</span>
                        </div>
                    </div>
                    <div class="uk-text-right uk-margin-medium-top">
                        <p class="uk-text-meta uk-margin-remove-bottom">누적매출</p>
                        <h3 class="mg-t-10">12,000,000,000원</h3>
                    </div>
                </div> -->
            
                

               
                

            </div>

        </div>
    </div>
    <!--// Right / Body -->
<!-- 
<script>
    console.log($("#noti_badge").text());
    $("#noti_badge").text(1234);
    console.log($("#noti_badge").text());
</script> -->

<script src="static/js/bo/bo-02.js"></script>
</body>

</html>