<!-- bo-03-1-1.html -->
{% include "bo/bo-header.html" %}


    <!-- Right / Body -->
    <div class="tm-main">
        <div class="uk-container-full uk-position-relative">


            <!-- title -->
            <div uk-margin class="uk-flex uk-flex-row uk-flex-between" style="margin-top: 30px;">
                <div class="uk-text-blue" id="top_name">
                    <!-- <h4>성진지오텍<span class="title-id"><a href="/ws-00-1" target=”_blank“>sungjin</a></span></h4> -->
                    <a href="/bo-03"><span uk-icon="icon: chevron-left" class="uk-margin-right"></span>고객사 관리</a>
                </div>
                <div>
                    <button class="uk-button uk-button-primary" id="btn_project_add">프로젝트 추가</button>
                </div>
            </div>

            <!-- tap menu / sensor group - line type -->
            <div class="uk-margin uk-margin-medium-top">
                <ul class="uk-tab">
                    <li id="customer_info_location"></li>
                    <li class="uk-active" id="project_location"></li>
                </ul>
            </div>

            <div id="project_list">
                <!-- <div class="uk-child-width-1" uk-grid>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-large uk-card-body uk-light">
                            <h4>양평빈양지구 공동주택 신축공사
                                <span class="title-id"><a href="/ws-00" target=”_blank“>yp</a></span>
                                <span class="mg-l-10 uk-align-right uk-text-blue">정상</span>
                            </h4>
                            <table class="uk-table uk-table-divider uk-table-justify">
                                <thead class="br-t-3">
                                    <tr>
                                        <th class="w-200">등록일시</th>
                                        <th>2021.10.10 11:00:59</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>계약기간</td>
                                        <td>2021.07.19 ~ 2022.07.19</td>
                                    </tr>
                                    <tr>
                                        <td>계약금액</td>
                                        <td>999,999,999원</td>
                                    </tr>
                                    <tr>
                                        <td>메모</td>
                                        <td></td>
                                    </tr>
                                    <tr class="br-b-3"></tr>
                                </tbody>
                            </table>
                            <a class="uk-button uk-button-text" onclick="next_page_url()">프로젝트 정보 수정</a>
                            <a href="#extension" class="uk-button uk-button-text uk-align-right" uk-toggle>프로젝트 기간 연장</a>
                        </div>
                    </div>
                </div> -->
            
            <!-- #01 프로젝트 //-->
            
            <!--// #01 프로젝트 -->

                <!-- #02 프로젝트 기간연장 //-->
                <!-- <div class="uk-child-width-1" uk-grid>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-large uk-card-body uk-light">
                            <h4>신사역 024 정거장
                                <span class="title-id"><a href="/ws-00" target=”_blank“>sinsa</a></span>
                                <span class="mg-l-10 uk-align-right uk-text-yellow">대기</span>
                            </h4>
                            <table class="uk-table uk-table-divider uk-table-justify">
                                <thead class="br-t-3">
                                    <tr>
                                        <th class="w-200">등록일시</th>
                                        <th>2020.01.01 11:00:59</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>계약기간</td>
                                        <td>2020.01.01 ~ 2021.01.01</td>
                                    </tr>
                                    <tr>
                                        <td>계약금액</td>
                                        <td>999,999,999원</td>
                                    </tr>
                                    <tr>
                                        <td>메모</td>
                                        <td></td>
                                    </tr>
                                    <tr class="br-b-3"></tr>
                                </tbody>
                            </table>
                            <a href="/bo-03-1-2" class="uk-button uk-button-text">프로젝트 정보 수정</a> -->

                            <!-- 기간연장 #01 -->
                            <!-- <h5>기간연장</h5>
                            <table class="uk-table uk-table-divider uk-table-justify">
                                <thead class="br-t-3">
                                    <tr>
                                        <th class="w-200">등록일시</th>
                                        <th>2021.01.02 11:00:59</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>계약기간</td>
                                        <td>2021.01.02 ~ 2022.01.02</td>
                                    </tr>
                                    <tr>
                                        <td>계약금액</td>
                                        <td>999,999,999원</td>
                                    </tr>
                                    <tr>
                                        <td>메모</td>
                                        <td></td>
                                    </tr>
                                    <tr class="br-b-3"></tr>
                                </tbody>
                            </table>
                            <a href="#extension" class="uk-button uk-button-text" uk-toggle>기간연장 정보 수정</a> -->

                            <!-- 기간연장 #02 -->
                            <!-- <h5>기간연장</h5>
                            <table class="uk-table uk-table-divider uk-table-justify">
                                <thead class="br-t-3">
                                    <tr>
                                        <th class="w-200">등록일시</th>
                                        <th>2022.01.01 11:00:59</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>계약기간</td>
                                        <td>2022.01.03 ~ 2023.01.03</td>
                                    </tr>
                                    <tr>
                                        <td>계약금액</td>
                                        <td>999,999,999원</td>
                                    </tr>
                                    <tr>
                                        <td>메모</td>
                                        <td></td>
                                    </tr>
                                    <tr class="br-b-3"></tr>
                                </tbody>
                            </table>
                            <a href="#extension" class="uk-button uk-button-text" uk-toggle>기간연장 정보 수정</a>
                            <a href="#extension" class="uk-button uk-button-text uk-align-right" uk-toggle>프로젝트 기간 연장</a>
                        </div> -->
                    <!-- </div>
                </div>
            </div> -->
            <!--// #02 프로젝트 기간연장-->

            <!-- #03 프로젝트 완료 //-->
            <!-- <div class="uk-child-width-1" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-large uk-card-body uk-light">
                        <h4>양평빈양지구 공동주택 신축공사
                            <span class="title-id"><a href="/ws-00" target=”_blank“>yp</a></span>
                            <span class="mg-l-10 uk-align-right uk-text-red">완료</span>
                        </h4>
                        <table class="uk-table uk-table-divider uk-table-justify">
                            <thead class="br-t-3">
                                <tr>
                                    <th class="w-200">등록일시</th>
                                    <th>2021.10.10 11:00:59</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>계약기간</td>
                                    <td>2021.07.19 ~ 2022.07.19</td>
                                </tr>
                                <tr>
                                    <td>계약금액</td>
                                    <td>999,999,999원</td>
                                </tr>
                                <tr>
                                    <td>메모</td>
                                    <td></td>
                                </tr>
                                <tr class="br-b-3"></tr>
                            </tbody>
                        </table>
                        <a class="uk-button uk-button-text" id="btn_project_edit">프로젝트 정보 수정</a>
                        <a href="#extension" class="uk-button uk-button-text uk-align-right" uk-toggle>프로젝트 기간 연장</a>
                    </div>
                </div>
            </div> -->
            <!--// #03 프로젝트 완료 -->

        </div>
    </div>
    <!--// Right / Body -->

    <!-- Modal / Extension -->
    <div id="extension" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h5 class="uk-modal-title">프로젝트 기간 연장</h5>
                <p class="uk-text-meta" id="modal_project_name">
                 
                </p>
            </div>
            <div class="uk-modal-body">
                <form class="uk-form-horizontal uk-margin-large" id="modal_extention">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="">계약기간</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                                <input class="uk-input w-150" type="text" id="date_time_start" name="extention_st_dt">
                            </div>
                            <div class="uk-inline mg-l-20">
                                <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                                <input class="uk-input w-150" type="text" id="date_time_end" name="extention_ed_dt">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="">계약금액 (원)</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="modal_project_cost" name="extention_cost" type="text" placeholder="" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="">메모</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea" rows="10" placeholder="" id="modal_project_memo" name="extention_memo"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button" onclick="project_extention()">Save</button>
            </div>
        </div>
    </div>

    <!-- date & time picker -->
    <script>
        $('#date_time_start').datetimepicker({theme:'dark', timepicker:false, format:'Y.m.d'});
        $('#date_time_end').datetimepicker({theme:'dark', timepicker:false, format:'Y.m.d'});
    </script>
<script src="/static/js/bo/bo-03-1-1.js"></script>
</body>

</html>